@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fdf5e6;
}

header {
  width: 100%;
  padding: 20px 100px;
  background: #162938;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  width: 100%;
  background-color: #162938;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  text-align: center; /* Centraliza o texto dentro do rodapé */
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box textarea:focus ~ label,
.input-box textarea:valid ~ label {
  top: -5px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}

.input-box textarea {
  height: 150px; /* Ajuste a altura conforme necessário */
  resize: none; /* Impede o redimensionamento manual */
  border: 2px solid #162938; /* Borda mais grossa */
  border-radius: 20px;
  text-align: center; /* Centraliza o texto */
  padding-top: 35px; /* Ajuste o valor conforme necessário */
}

.input-box textarea::placeholder {
  color: #162938;
  font-weight: 600;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.header-and-footer {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  cursor: pointer;
  transition: color 0.3s;
}

.header-and-footer::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.header-and-footer:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
